# Assignment for Data Analytics Intern

In [92]:
# Importing necessary library
import pandas as pd
import matplotlib.pyplot as plt

# Ignoring warnings
import warnings
warnings.filterwarnings('ignore')

In [47]:
# Loading dataset
file_path = '/Users/adina/Downloads/Data Analyst Intern Assignment - Excel.xlsx'
user_details = pd.read_excel(file_path, sheet_name='UserDetails.csv')
cooking_sessions = pd.read_excel(file_path, sheet_name='CookingSessions.csv')
order_details = pd.read_excel(file_path, sheet_name='OrderDetails.csv')

In [48]:
# Analyzing user details data
user_details.head()

,User ID,User Name,Age,Location,Registration Date,Phone,Email,Favorite Meal,Total Orders
0,U001,Alice Johnson,28,New York,2023-01-15,123-456-7890,alice@email.com,Dinner,12
1,U002,Bob Smith,35,Los Angeles,2023-02-20,987-654-3210,bob@email.com,Lunch,8
2,U003,Charlie Lee,42,Chicago,2023-03-10,555-123-4567,charlie@email.com,Breakfast,15
3,U004,David Brown,27,San Francisco,2023-04-05,444-333-2222,david@email.com,Dinner,10
4,U005,Emma White,30,Seattle,2023-05-22,777-888-9999,emma@email.com,Lunch,9

In [49]:
user_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            10 non-null     object
 1   User Name          10 non-null     object
 2   Age                10 non-null     int64
 3   Location           10 non-null     object
 4   Registration Date  10 non-null     datetime64[ns]
 5   Phone              10 non-null     object
 6   Email              10 non-null     object
 7   Favorite Meal      10 non-null     object
 8   Total Orders       10 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 852.0+ bytes

In [50]:
user_details.shape

(10, 9)

In [51]:
# Analyzing cooking session data
cooking_sessions.head()

,Session ID,User ID,Dish Name,Meal Type,Session Start,Session End,Duration (mins),Session Rating
0,S001,U001,Spaghetti,Dinner,2024-12-01 19:00:00,2024-12-01 19:30:00,30,4.5
1,S002,U002,Caesar Salad,Lunch,2024-12-01 12:00:00,2024-12-01 12:20:00,20,4.0
2,S003,U003,Grilled Chicken,Dinner,2024-12-02 19:30:00,2024-12-02 20:10:00,40,4.8
3,S004,U001,Pancakes,Breakfast,2024-12-02 07:30:00,2024-12-02 08:00:00,30,4.2
4,S005,U004,Caesar Salad,Lunch,2024-12-03 13:00:00,2024-12-03 13:15:00,15,4.7

In [52]:
cooking_sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Session ID       16 non-null     object
 1   User ID          16 non-null     object
 2   Dish Name        16 non-null     object
 3   Meal Type        16 non-null     object
 4   Session Start    16 non-null     datetime64[ns]
 5   Session End      16 non-null     datetime64[ns]
 6   Duration (mins)  16 non-null     int64
 7   Session Rating   16 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [53]:
cooking_sessions.shape

(16, 8)

In [54]:
# Analyzing order details data
order_details.head()

,Order ID,User ID,Order Date,Meal Type,Dish Name,Order Status,Amount (USD),Time of Day,Rating,Session ID
0,1001,U001,2024-12-01,Dinner,Spaghetti,Completed,15.0,Night,5.0,S001
1,1002,U002,2024-12-01,Lunch,Caesar Salad,Completed,10.0,Day,4.0,S002
2,1003,U003,2024-12-02,Dinner,Grilled Chicken,Canceled,12.5,Night,NaN,S003
3,1004,U001,2024-12-02,Breakfast,Pancakes,Completed,8.0,Morning,4.0,S004
4,1005,U004,2024-12-03,Lunch,Caesar Salad,Completed,9.0,Day,4.0,S005

In [55]:
order_details.shape

(16, 10)

In [56]:
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      16 non-null     int64
 1   User ID       16 non-null     object
 2   Order Date    16 non-null     datetime64[ns]
 3   Meal Type     16 non-null     object
 4   Dish Name     16 non-null     object
 5   Order Status  16 non-null     object
 6   Amount (USD)  16 non-null     float64
 7   Time of Day   16 non-null     object
 8   Rating        14 non-null     float64
 9   Session ID    16 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 1.4+ KB

In [57]:
order_details['Rating']

0     5.0
1     4.0
2     NaN
3     4.0
4     4.0
5     4.0
6     4.0
7     NaN
8     5.0
9     4.0
10    4.0
11    4.0
12    4.0
13    5.0
14    5.0
15    4.0
Name: Rating, dtype: float64

In [58]:
order_details['Rating'].fillna(order_details['Rating'].median(), inplace=True)

In [59]:
order_details['Rating']

0     5.0
1     4.0
2     4.0
3     4.0
4     4.0
5     4.0
6     4.0
7     4.0
8     5.0
9     4.0
10    4.0
11    4.0
12    4.0
13    5.0
14    5.0
15    4.0
Name: Rating, dtype: float64

In [60]:
# Checking data inconsistances
missing_users_sessions = set(cooking_sessions['User ID']) - set(user_details['User ID'])
missing_users_orders = set(order_details['User ID']) - set(user_details['User ID'])

In [61]:
print("Users in CookingSessions but not in UserDetails:", missing_users_in_sessions)
print("Users in OrderDetails but not in UserDetails:", missing_users_in_orders)

Users in CookingSessions but not in UserDetails: set()
Users in OrderDetails but not in UserDetails: set()

so the dataset is consistent

### Data merging

In [62]:
# Merging cooking sessions with user details
sessions_user = pd.merge(cooking_sessions, user_details, on='User ID', how='left')

In [63]:
sessions_user.head()

,Session ID,User ID,Dish Name,Meal Type,Session Start,Session End,Duration (mins),Session Rating,User Name,Age,Location,Registration Date,Phone,Email,Favorite Meal,Total Orders
0,S001,U001,Spaghetti,Dinner,2024-12-01 19:00:00,2024-12-01 19:30:00,30,4.5,Alice Johnson,28,New York,2023-01-15,123-456-7890,alice@email.com,Dinner,12
1,S002,U002,Caesar Salad,Lunch,2024-12-01 12:00:00,2024-12-01 12:20:00,20,4.0,Bob Smith,35,Los Angeles,2023-02-20,987-654-3210,bob@email.com,Lunch,8
2,S003,U003,Grilled Chicken,Dinner,2024-12-02 19:30:00,2024-12-02 20:10:00,40,4.8,Charlie Lee,42,Chicago,2023-03-10,555-123-4567,charlie@email.com,Breakfast,15
3,S004,U001,Pancakes,Breakfast,2024-12-02 07:30:00,2024-12-02 08:00:00,30,4.2,Alice Johnson,28,New York,2023-01-15,123-456-7890,alice@email.com,Dinner,12
4,S005,U004,Caesar Salad,Lunch,2024-12-03 13:00:00,2024-12-03 13:15:00,15,4.7,David Brown,27,San Francisco,2023-04-05,444-333-2222,david@email.com,Dinner,10

In [64]:
# Merge order details with session users
merged_data = pd.merge(order_details, sessions_user, on='Session ID', how='left')

In [65]:
merged_data.head()

,Order ID,User ID_x,Order Date,Meal Type_x,Dish Name_x,Order Status,Amount (USD),Time of Day,Rating,Session ID,...,Duration (mins),Session Rating,User Name,Age,Location,Registration Date,Phone,Email,Favorite Meal,Total Orders
0,1001,U001,2024-12-01,Dinner,Spaghetti,Completed,15.0,Night,5.0,S001,...,30,4.5,Alice Johnson,28,New York,2023-01-15,123-456-7890,alice@email.com,Dinner,12
1,1002,U002,2024-12-01,Lunch,Caesar Salad,Completed,10.0,Day,4.0,S002,...,20,4.0,Bob Smith,35,Los Angeles,2023-02-20,987-654-3210,bob@email.com,Lunch,8
2,1003,U003,2024-12-02,Dinner,Grilled Chicken,Canceled,12.5,Night,4.0,S003,...,40,4.8,Charlie Lee,42,Chicago,2023-03-10,555-123-4567,charlie@email.com,Breakfast,15
3,1004,U001,2024-12-02,Breakfast,Pancakes,Completed,8.0,Morning,4.0,S004,...,30,4.2,Alice Johnson,28,New York,2023-01-15,123-456-7890,alice@email.com,Dinner,12
4,1005,U004,2024-12-03,Lunch,Caesar Salad,Completed,9.0,Day,4.0,S005,...,15,4.7,David Brown,27,San Francisco,2023-04-05,444-333-2222,david@email.com,Dinner,10

In [66]:
merged_data.columns

Index(['Order ID', 'User ID_x', 'Order Date', 'Meal Type_x', 'Dish Name_x',
       'Order Status', 'Amount (USD)', 'Time of Day', 'Rating', 'Session ID',
       'User ID_y', 'Dish Name_y', 'Meal Type_y', 'Session Start',
       'Session End', 'Duration (mins)', 'Session Rating', 'User Name', 'Age',
       'Location', 'Registration Date', 'Phone', 'Email', 'Favorite Meal',
       'Total Orders'],
      dtype='object')

In [67]:
print(merged_data[['User ID_x', 'User ID_y']].head())

  User ID_x User ID_y
0      U001      U001
1      U002      U002
2      U003      U003
3      U001      U001
4      U004      U004

In [68]:
print(merged_data[['Dish Name_x', 'Dish Name_y']].head())

       Dish Name_x      Dish Name_y
0        Spaghetti        Spaghetti
1     Caesar Salad     Caesar Salad
2  Grilled Chicken  Grilled Chicken
3         Pancakes         Pancakes
4     Caesar Salad     Caesar Salad

In [69]:
print(merged_data[['Meal Type_x', 'Meal Type_y']].head())

  Meal Type_x Meal Type_y
0      Dinner      Dinner
1       Lunch       Lunch
2      Dinner      Dinner
3   Breakfast   Breakfast
4       Lunch       Lunch

In [70]:
# Droping unnecessary columns
merged_data = merged_data.drop(columns=['User ID_x', 'Dish Name_x', 'Meal Type_x'])

# Renaming
merged_data = merged_data.rename(columns={'User ID_y': 'User ID', 'Dish Name_y': 'Dish Name', 'Meal Type_y': 'Meal Type'})

### Analysis

#### Relationship b/w cooking session and order

In [71]:
# Calculating avg session rating for completed orders
completed_orders = merged_data[merged_data['Order Status'] == 'Completed']
avg_session_rating = completed_orders.groupby('User ID')['Session Rating'].mean()

In [72]:
avg_session_rating

User ID
U001    4.533333
U002    4.133333
U003    4.600000
U004    4.700000
U005    4.500000
U006    4.800000
U007    5.000000
U008    4.300000
Name: Session Rating, dtype: float64

In [84]:
# Analyzing duration of cooking session influence whether an order is placed
session_duration_analysis = merged_data.groupby('Order Status')['Duration (mins)'].mean()
print(session_duration_analysis)

Order Status
Canceled     30.000000
Completed    30.357143
Name: Duration (mins), dtype: float64

From this we can understand that the avg duration for sessions that completed orders is slightly higher. so that means
users who spend a bit more time in their cooking sessions were more likely to complete their orders.

In [86]:
# Analyzing repeat orders
repeat_orders = merged_data.groupby('User ID')['Order ID'].nunique()
print(repeat_orders.describe())

count    8.00000
mean     2.00000
std      0.92582
min      1.00000
25%      1.00000
50%      2.00000
75%      3.00000
max      3.00000
Name: Order ID, dtype: float64

In [87]:
# Identifying which times of the day are most likely to result in orders
popular_times = completed_orders['Time of Day'].value_counts()
print(popular_times)

Time of Day
Night      7
Day        4
Morning    3
Name: count, dtype: int64

Orders are most popular at night likely due to late night cravings, and followed by day for lunch time and least during 
morning.

#### Identifying popular dishes

In [73]:
popular_dishes = merged_data['Dish Name'].value_counts()

In [74]:
popular_dishes

Dish Name
Spaghetti          4
Grilled Chicken    4
Caesar Salad       3
Pancakes           2
Veggie Burger      2
Oatmeal            1
Name: count, dtype: int64

From this we can clearly understand that the popular dishes are Spaghetti and Grilled Chicken

#### Impact of demographics on user behaviour

In [76]:
# Avg order value by location
avg_order_value_by_loc = merged_data.groupby('Location')['Amount (USD)'].mean()

In [89]:
print(avg_order_value_by_loc)

Location
Austin           13.000000
Boston           14.000000
Chicago          10.666667
Los Angeles      10.333333
Miami            11.000000
New York         11.666667
San Francisco    10.750000
Seattle          11.250000
Name: Amount (USD), dtype: float64

Cities like Austin and Boston have higher average order values, suggesting higher spending power, while Los Angeles and Chicago
show lower values, indicating more price-sensitive behavior

In [78]:
# Analyzing no.of orders by age group
merged_data['Age Group'] = pd.cut(merged_data['Age'], bins=[0, 18, 35, 50, 65, 100],
                           labels=['Teen', 'Young Adult', 'Adult', 'Senior', 'Elderly'])

In [81]:
orders_by_agegroup = merged_data.groupby('Age Group')['Order ID'].count()

C:\Users\adina\AppData\Local\Temp\ipykernel_19636\1675850287.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  orders_by_agegroup = merged_data.groupby('Age Group')['Order ID'].count()

In [88]:
print(orders_by_agegroup)

Age Group
Teen            0
Young Adult    12
Adult           4
Senior          0
Elderly         0
Name: Order ID, dtype: int64

From this result we can see that the 12 orders from the Young Adult group show strong engagement, likely due to their 
tech-savviness and busy lifestyles, making online food ordering a convenient option